html,
body {
	position: relative;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overscroll-behavior: none;
}
a {
	color: inherit;
	text-decoration: none;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#orientation-lock {
	display: none;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.97);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	.orientation-message {
		font-size: 1.5em;
		color: #222;
		padding: 2em;
		border-radius: 1em;
		background: #fff;
		// box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
	}
}
