@import './variable.scss';

$bg-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%);

* {
	box-sizing: border-box;
	user-select: none;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	color: $heading-text;
	background: #000;
	font-family: 'futura-pt', sans-serif;
	text-transform: uppercase;
}
.home {
	h1,
	h2 {
		font-size: clamp(1rem, 5vw, 2rem);
		font-weight: 400;
		text-align: center;
		letter-spacing: 0.35em;
		// margin-right: -0.5em;
		color: $heading-text;
		// width: 90vw;
		// max-width: 1200px;
		text-align: justify;
	}
	section {
		height: 100%;
		width: 100%;
		top: 0;
		position: fixed;
		visibility: hidden;
		will-change: transform;

		.outer,
		.inner {
			width: 100%;
			height: 100%;
			overflow-y: hidden;
			will-change: transform;
		}

		.bg {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			background-size: cover;
			background-position: center;
			background-color: #fff;

			.clip-text {
				overflow: hidden;
			}
		}
	}
	.text-wrap {
		max-width: 520px;
		h2 {
			margin-bottom: 64px;
			margin-top: 0;
		}
		p {
			font-size: clamp(1rem, 2vw, 24px);
			line-height: 1.7;
			color: $body-text;
		}
		.part {
			position: relative;
			display: block;
			margin-top: 0.5em;
			text-transform: none;
		}
	}
	.sub-text {
		opacity: 0;
		visibility: hidden;
		text-wrap: balance;
		word-break: keep-all;
	}
}
