nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	z-index: 3;
	font-family: 'futura-pt', sans-serif;
	.logo {
		display: block;
		img {
			display: block;
			height: clamp(12px, 2vw, 16px);
		}
	}
	ul {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 60px;
		list-style: none;
		margin: 0;
		padding: 0;
		a {
			text-transform: uppercase;
			text-decoration: none;
			color: $body-text;
			letter-spacing: 0.2em;
			font-size: 14px;
		}
	}
}

header {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5%;
	width: 100%;
	z-index: 3;
	top: 0;
	height: clamp(64px, 7vw, 112px);

	font-size: clamp(0.66rem, 2vw, 1rem);
	letter-spacing: 0.5em;
}
@media (max-width: 768px) {
	.nav-menu {
		display: none;
	}
	.hamburger {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		background: none;
		border: none;
		cursor: pointer;
		z-index: 30;
		position: relative;
	}
	.bar {
		display: block;
		width: 28px;
		height: 1px;
		background: #222;
		margin: 4px 0;
		border-radius: 2px;
		transition: 0.4s;
	}
	.drawer {
		position: fixed;
		top: 0;
		right: -100vw;
		width: 50vw;
		// max-width: 320px;
		height: 100vh;
		background: #fff;
		box-shadow: -1.66666667px 1.66666667px 10px rgba(0, 0, 0, 0.3);

		z-index: 20;
		transition: right 0.4s cubic-bezier(0.77, 0.2, 0.05, 1);
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
	}
	.drawer.open {
		right: 0;
	}
	.drawer ul {
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: end;
		justify-content: end;
		gap: 26.66666667px;
		margin-top: 160px;
	}
	.drawer li {
		// margin-bottom: 26.66666667px;
		text-align: center;
		padding-right: 30px;
	}
	.drawer a {
		font-size: 14px;
		color: #222;
		text-decoration: none;
		text-align: center;
	}
	.hamburger {
		&.open {
			.bar1 {
				transform: rotate(45deg) translateY(6.5px);
			}
			.bar2 {
				transform: rotate(-45deg) translateY(-6.5px);
			}
		}
	}

	.drawer-dim {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: rgba(255, 255, 255, 0.8);
		z-index: 1;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s;
	}
	.drawer.open ~ .drawer-dim {
		opacity: 1;
		pointer-events: auto;
	}
}
@media (min-width: 769px) {
	.hamburger,
	.drawer,
	.drawer-dim {
		display: none !important;
	}
}
