.work h2 {
  font-size: clamp(1rem, 5vw, 36px);
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000;
  font-family: "SUIT", sans-serif;
}
.work section {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  visibility: hidden;
  will-change: transform;
}
.work section .outer,
.work section .inner {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  will-change: transform;
}
.work section .bg {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: #fff;
  background-size: cover;
  background-position: center;
}
.work section .bg .clip-text {
  overflow: hidden;
}
.work section .bg .box {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1680px;
  padding: 0 clamp(20px, 5vw, 40px);
  gap: clamp(40px, 5vw, 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
}
.work .work-img {
  width: 100%;
  max-width: 720px;
}
.work .work-img img {
  width: 100%;
  aspect-ratio: 720/306;
  -o-object-fit: cover;
     object-fit: cover;
}
.work .work-info {
  max-width: 480px;
  text-align: left;
}
.work .work-info h2 {
  text-align: left;
}
.work .work-info p {
  text-align: left;
  font-family: "SUIT", sans-serif;
}
.work .work-info .brand {
  font-size: 20px;
  color: #666;
  margin-bottom: 24px;
}
.work .work-info .work-desc {
  font-size: 20px;
  color: #999;
}