.work {
	height: 100%;
	width: 100%;
	$text-ls: 0.25em;
	h2 {
		font-size: clamp(1rem, 5vw, 36px);
		font-weight: 400;
		text-align: center;
		letter-spacing: -0.02em;
		color: #000;
		font-family: 'SUIT', sans-serif;
	}
	.swiper-slide {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		@include mq(mobile) {
			align-items: start;
			padding-top: 64px;
			justify-content: start;
		}
	}
	.contents {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: clamp(40px, 5vw, 80px);
		@include mq(mobile) {
			flex-direction: column;
		}
	}
	.work-img {
		width: 100%;
		max-width: 720px;
		img {
			width: 100%;
			aspect-ratio: 720 / 306;
			object-fit: cover;
			@include mq(mobile) {
				aspect-ratio: 54 / 35;
				mask-image: url(/assets/images/mask.svg);
				mask-size: 100% 100%;
				mask-repeat: no-repeat;
				mask-position: center;
			}
		}
	}
	.work-info {
		// width: 100%;
		max-width: 480px;
		text-align: left;
		@include mq(mobile) {
			max-width: 100%;
			padding-inline: 13vw;
		}
		h2 {
			text-align: left;
			font-size: clamp(20px, 2vw, 24px);
			margin-top: 0;
			margin-bottom: 0.5em;
		}
		p {
			text-align: left;
			font-family: 'SUIT', sans-serif;
			font-size: clamp(14px, 2vw, 20px);
			margin: 0;
		}
		.brand {
			font-size: clamp(16px, 2vw, 20px);
			color: $sub-text;
			margin-bottom: clamp(20px, 2vw, 24px);
		}
		.work-desc {
			color: $body-text;
			line-height: 1.5;
		}
	}
}
