@use '../styles/scss/variables' as *;

.clients {
	height: 100dvh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.heading {
	text-align: center;
}

.list {
	text-align: justify;
	text-align-last: left;
	max-width: 1100px;
	margin: 0 auto;
	line-height: 2.35em;
	word-break: keep-all;
	word-spacing: 0.15em;
}

.client {
	display: inline;
}
