@use '../styles/scss/variables' as *;
@use '../styles/scss/mixins' as *;

.faq {
	padding: 160px 0;
	background-color: var(--color-brand-dark);
	color: var(--color-white);

	@include mobile {
		padding: 100px 0;
	}
}

.heading {
	max-width: 720px;
	margin-left: auto;
	margin-right: auto;
	color: var(--color-white);
}

.list {
	display: flex;
	flex-direction: column;
	max-width: 720px;
	margin: 0 auto;
	gap: clamp(40px, 5vw, 50px);
}

.item {
	transition: opacity 0.3s ease;
}

.inactive {
	opacity: 0.5;
}

.header {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.question {
	width: 100%;
	display: flex;
	align-items: center;
	background: none;
	border: none;
	color: var(--color-white);
	cursor: pointer;
	text-align: left;
	padding: 0;
	transition: opacity 0.2s ease;
}

.number {
	font-weight: 500;
}

.title {
	font-weight: 500;
	flex: 1;
}

.indicator {
	display: flex;
	align-items: center;
	gap: 4px;
}

.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.9;
	color: var(--color-white);
}

.guide {
	font-size: $font-caption;
	font-family: var(--font-suit);
	opacity: 0.8;
	font-weight: 300;
	margin-top: 2px;
}

.subtitle {
	font-weight: 400;
	color: var(--color-white);
}

.answer {
	overflow: hidden;
}

.itemList {
	list-style: none;
	padding-top: clamp(20px, 5vw, 32px);
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 12px;

	@include mobile {
		padding-left: 0;
	}

	li {
		font-family: var(--font-suit);
		font-size: $font-body-sm;
		line-height: 1.6;
		color: var(--color-white);

		display: flex;
		gap: 0px;
	}

	.itemNumber {
		flex-shrink: 0;
		font-weight: 500;
		width: 1.5em; /* Ensures enough space for "1) " */
	}

	.itemText {
		flex: 1;
	}
}

.footer {
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	max-width: 720px;
	margin: clamp(32px, 5vw, 40px) auto 0;
	@include mobile {
		margin-top: 50px;
	}
}
.footerMain {
	font-weight: 600;
}
.footerSub {
	font-family: var(--font-suit);
	font-size: $font-caption;
	font-weight: 300;
	color: var(--color-white);

	display: flex;
	gap: 4px;

	span:first-child {
		flex-shrink: 0;
	}
}

.active {
	.question {
		opacity: 1;
	}
}
