@use '../styles/scss/variables' as *;
@use '../styles/scss/mixins' as *;

.footer {
	min-height: 80vh;
	display: flex;
	align-items: center;
	padding: 100px 0;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 48px;
}

.sns {
	display: flex;
	gap: clamp(100px, 10vw, 150px);
	align-items: center;
	margin-bottom: 150px;
}

.snsLink {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	color: var(--color-white);

	img {
		width: auto;
		height: clamp(50px, 1.5vw, 70px);
	}
}

.snsLabel {
	font-family: var(--font-futura);
}

.contact {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.contactHeading {
	margin-bottom: clamp(20px, 1.5vw, 26px);
}

.contactMail {
	font-size: clamp(18px, 1.5vw, 24px);
}
.contactMap {
	font-size: clamp(16px, 1.5vw, 22px);
}

@media (hover: hover) and (pointer: fine) {
	.snsLink {
		transition: opacity 0.2s ease;

		&:hover {
			opacity: 0.7;
		}
	}

	.contactMail,
	.contactMap {
		transition: opacity 0.2s ease;

		&:hover {
			opacity: 0.8;
		}
	}
}
