@use '../styles/scss/variables' as *;
@use '../styles/scss/mixins' as *;

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	padding-top: clamp(60px, 5vw, 120px);
	will-change: padding-top;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: inline-block;

	img {
		height: clamp(16px, 5vw, 21px);
		width: auto;
	}
}
